body{
    margin: 0;
    width: 100%;
    background: #000;
    overflow-x: hidden;
}

.jumbotron{
    height: 100vh;
    background: 
        linear-gradient(to top,transparent, rgb(0, 0, 0)),
        #fff url(../imgs/galerija/3.jpg) no-repeat center 50%/cover;
    background-attachment: fixed;  
}

.h5{
    text-align: center;
    margin: 20px 0;
}
.ml-1 {
  margin-left: ($spacer * .5) !important;
}

.logo{
    transition: all .5s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}
.rounded-circle {
    margin: 10px auto;
    width: 400px;
    height: 400px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }




.naslov{
    display: none;
    text-transform: uppercase;
}

.footer{
    margin-top: 5em;
    background-color: #ffd855;
}

/*----Drustvene mreze----*/

#medias{
    position: fixed;
    z-index: 10;
    top:200px;
    left: 30px;
    width: 50px;
    height: 100px;
    display: none!important;
}

.media-item{
    width: 80%;
    height: auto;
    opacity: 0.5;
    transition: opacity .3s linear;
}

.media-footer{
        
    }

#doda{
    z-index: 10;
}


@media(min-width:960px){
    .card{
        width: 80%;
    }
    
/*
    .media-footer{
        display: none!important;
    }
*/
    #medias{
        display: block!important;
    }
}