
/* Mora da bude 100% */
#grid1b{
    /* margin: 3em 0; */
    width: 100%;
    background: #17a2b8;
    border-color: #ffc107!important;
}

/* Ceo box */
#gbox_grid1b{
    margin: 3em auto!important;
    width: 100%!important;  
    border-color: #ffc107!important;
}

th,
.ui-jqgrid > .ui-jqgrid-view *,
.ui-jqgrid > .ui-jqgrid-view *:before,
.ui-jqgrid > .ui-jqgrid-view *:after{
    border-color: #ffc107!important;
}

@media(min-width:720px){
    #gbox_grid1b{
        margin: 0 auto;
        width: 80%!important;  
    }
}

/* Heder za naslov */
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top{
    background: black;
    text-align: center;
    font-weight: 600;
    /* font-size: 3em; */
}

/* Naslov tabele */
.ui-jqgrid-title{
    color: #17a2b8;
    font-size: 2em!important;
}
/* Malo sranje u tabeli */
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view .btn,
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-pager .btn {
    /* font-size: 12px; */
    color: #17a2b8;
    margin-right: 25px;
    margin-top: -13px;
}
.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.fa,
.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.fa,
.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.glyphicon {
	/*  the values below are based on the difference between the
		font-size of fa-icon and the font size of the parent element */
        font-size: 2em;
}

/* Ceo panel */
.panel-info{
    margin: 0 auto;
    width: 100%!important;
 
}

/* Prvi glavni red */
.ui-jqgrid-hdiv{
    width: 100%!important;
    background: #ffc107!important;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view .btn{
    border: none;
}

/* Tabela */
.ui-jqgrid .table{
    width: 100%!important;
    font-size: 1.3em;
}
.ui-jqgrid .ui-jqgrid-bdiv{
    width: 100%!important;
}
