.navbar{
    font-size: 1.4rem;
    background-color: rgba(0,0,0,0.6)!important;
    
/*    background-color: rgba(23, 162, 184, 0.62)!important;*/
}


#fire a{
    color: #ebbb19!important;
}

#fire a:hover{
    text-decoration: bold;
    color: #ffd855!important;
}

#fire .active{
    color: #ffd855!important;
}
