.jumbotron{
    height: 100vh;
    background: 
        linear-gradient(to top,transparent, rgb(0, 0, 0)),
        #fff url(../imgs/galerija/18.jpg) no-repeat center 50%/cover;
    background-attachment: fixed;  
  }

h1{
    color: #d0d0d0;
}

h2{
    text-align: center;
    margin: 25px 0;
    color: #d0d0d0;
    padding: 5px 0;
    background-color: #17a3b8c4;

}

#firsth2{
    visibility: visible;
    margin: 0px 0 25px;
    
}

.program{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rounded-circle {
    margin: 15px auto;
    width: 350px;
    height: 350px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }

.picoverlay{
    margin: 15px auto;
    position: relative;
    text-align: center;
    color: white;

    transition: transform .4s, opacity .4s;
  }

.flip{
    transform: rotateY(-180deg);
    /* opacity: 0.3; */
}

.flip img{
    opacity: 0.3!important;
}

.flip h3{
    opacity: 0;
}

.flip p{
    opacity: 1;
    transform: rotateY(-180deg);
}

p{
    opacity: 0;
    transform: rotateY(-180deg);
    color: #fff;
}

.bio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered{
    display: none;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.btn{
    background-color: rgba(65, 64, 64, 0.623)!important;
    margin: auto 5px;    
  }

.dugmad{
      margin: 10px auto;
  }

.slike{
      margin-top: 10px;
  }

  