body{
    margin: 0;
    width: 100%;
    background: black;
}

.jumbotron{
    height: 100vh;
    background: 
        linear-gradient(to top,transparent, rgb(0, 0, 0)),
        #fff url(../imgs/bgImage.jpg) no-repeat center 50%/cover;
    background-attachment: fixed;  
}

.logo{
    transition: all .5s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

/*
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    filter: blur(3px);
    transition: filter .5s linear;
}



.card-img-top:hover{
    filter: blur(0);
}
*/

.card-img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    filter: blur(0);
    transition: filter .3s ease-in;
    border-radius:0px;
}



.card{
    border-radius: 0;
    border: none;
    text-align: center;
}

.card-img-overlay{
    visibility: hidden;
    transition: visibility .5s linear;
/*    display: none;*/
}

h5,p{
/*    display: none;*/
}